html {
  font-family: 'PingFang SC', '微软雅黑';
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

ul,ol {
  padding: 0;
  list-style: none;
}

.clear:after {
  content: '';
  display: table;
  clear: both;
}
.fl {float: left}
.fr {float: right}

input:focus {
  outline: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}